/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    color: #fff;
    background-color: #1a1a1a;
}

body {
    margin: 0;
    font-family: "Rubik", Roboto, "Helvetica Neue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}